/.idea/
/FileAnonimizatorDesktop/.idea/
/FileAnonimizatorDesktop/bin/
/FileAnonimizatorDesktop/data/
/FileAnonimizatorDesktop/obj/
/FileAnonimizatorDesktop/packages/
/FileAnonimizatorDesktop/Properties/
